.SY-3-1{background:url(../imgs/allbgs.png) no-repeat 0px 0px;width:18px;padding-top:18px;}
.SY-3{background:url(../imgs/allbgs.png) no-repeat -18px 0px;width:18px;padding-top:18px;}
.SY-4-1{background:url(../imgs/allbgs.png) no-repeat -36px 0px;width:18px;padding-top:18px;}
.SY-4{background:url(../imgs/allbgs.png) no-repeat -54px 0px;width:18px;padding-top:18px;}
.SY-1-1{background:url(../imgs/allbgs.png) no-repeat -72px 0px;width:18px;padding-top:18px;}
.SY-1{background:url(../imgs/allbgs.png) no-repeat -90px 0px;width:18px;padding-top:18px;}
.SY-2-1{background:url(../imgs/allbgs.png) no-repeat -108px 0px;width:18px;padding-top:18px;}
.SY-2{background:url(../imgs/allbgs.png) no-repeat -126px 0px;width:18px;padding-top:18px;}
